@page "/tableRecord"
@using CourseClaimer.HEU.Services
@using CourseClaimer.HEU.Shared.Models.Database
@inject EntityManagementService EMS

<Table TItem="ClaimRecord" IsPagination="true" PageItemsSource="[20,40,100]" class="table-demo"
       IsStriped="true" IsBordered="true" ShowSkeleton="true" IsMultipleSelect="false"
       ShowToolbar="false" ShowSearch="false" ShowExtendButtons="false"
       AutoGenerateColumns="true" EditMode="EditMode.Popup" OnQueryAsync="OnQueryAsync">
    <TableColumns>
        <TableColumn @bind-Field="@context.Id" Ignore="true" />
    </TableColumns>
</Table>

@code
{
    public async Task<QueryData<ClaimRecord>> OnQueryAsync(QueryPageOptions options)
    {
        var customers = await EMS.QueryRecord(options.PageIndex, options.PageItems);
        return new QueryData<ClaimRecord>
        {
            Items = customers.Data,
            TotalCount = customers.Total
        };
    }
}