@page "/table"
@using CourseClaimer.Wisedu.Shared.Models.Database
@using CourseClaimer.Wisedu.Shared.Services
@inject EntityManagementService EMS
@inject ClipboardService CS
@inject SwalService SS
@inject DialogService DS
<Button Text="启动所有" IsAsync="true" OnClick="@OnStartClick"></Button>
<Button Text="停止所有" IsAsync="true" OnClick="@OnStopClick"></Button>
<Button Text="导出所有用户到JSON" OnClick="Export"></Button>
<Button Text="从JSON导入所有用户" OnClick="Import"></Button>
<Divider/>
<Table @ref="table" TItem="Customer" IsPagination="true" PageItemsSource="[20, 40, 100]" class="table-demo"
       IsStriped="true" IsBordered="true" ShowSkeleton="true" IsMultipleSelect="true"
       ShowToolbar="true" ShowSearch="true" ShowExtendButtons="true" IsExtendButtonsInRowHeader="true"
       AutoGenerateColumns="true" EditMode="EditMode.Popup" OnQueryAsync="OnQueryAsync" OnSaveAsync="OnSaveAsync" OnDeleteAsync="OnDeleteAsync">
    <TableColumns>
        <TableColumn @bind-Field="@context.Id" Ignore="true" />
    </TableColumns>
</Table>
@code
{
    public Table<Customer> table { get; set; }
    public async Task OnStartClick()
    {
        await EMS.WebStartAsync();
        await table.QueryAsync();
    }
    public async Task OnStopClick()
    {
        await EMS.StopAsync();
        await table.QueryAsync();
    }

    public async Task Export()
    {
        await CS.Copy(await EMS.ExportAllCustomer());
        await SS.Show(new() { Content = "已复制" });
    }

    public async Task Import()
    {
        await EMS.AllCustomerFromJson(await CS.GetText());
        await table.QueryAsync();
        await SS.Show(new() { Content = "已添加" });
    }

    public async Task<QueryData<Customer>> OnQueryAsync(QueryPageOptions options)
    {
        var customers = await EMS.QueryUser(options.PageIndex, options.PageItems);
        return new QueryData<Customer>
            {
                Items = customers.Data,
                TotalCount = customers.Total
            };
    }
    public async Task<bool> OnSaveAsync(Customer customer, ItemChangedType type)
    {
        switch (type)
        {
            case ItemChangedType.Update:
                await EMS.EditCustomer(customer.UserName, customer.Password, customer.Categories, customer.Course, customer.IsFinished);
                break;
            case ItemChangedType.Add:
                await EMS.AddCustomer(customer.UserName, customer.Password, customer.Categories, customer.Course, customer.IsFinished);
                break;
        }
        return true;
    }
    public async Task<bool> OnDeleteAsync(IEnumerable<Customer> customers)
    {
        foreach (var customer in customers) await EMS.DeleteCustomer(customer.UserName);
        return true;
    }
}
